<div class="center jumbotron">
<% provide(:title, "Home") %>
  <h1>Moment</h1>
    <h2>Welcome to Moment, here you can share your moment with friends.</h2>
    <%= link_to "Sin up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"), "https://rubyonrails.org/" %>
